---
import { ClientRouter  } from 'astro:transitions'
import '../global.css'

const { title } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} — Albert Ahnfelt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: #000;
    color: #fff;
    font-family: 'Joan', serif;
    line-height: 1.6;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
  letter-spacing: 0.05em;
  font-weight: 400;
  }
</style>