---
import Layout from '../layouts/Layout.astro'
import Moon from '../components/Moon.svelte'
import { clickyMode } from '../config'
---
<Layout title="404">
  <main>
    <a class="moon" href="/">
      <Moon clicky={clickyMode} client:load transition:persist="moon"></Moon>
    </a>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .moon {
    display: block;
    width: 12rem;
    height: 12rem;
  }

  @media (max-width: 768px) {
    .moon {
      width: 8rem;
      height: 8rem;
    }
  }
</style>
