---
import Layout from '../layouts/Layout.astro'
import Moon from '../components/Moon.svelte'
---
<Layout title="Home">
  <main>
    <div class="stack">
      <div class="moon">
        <Moon client:load></Moon>
      </div>
      <div class="title">
        <a>albertahnfelt.com</a>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }

  .stack {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .moon {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6rem;
    margin-bottom: 0.5rem;
    width: 12rem;
    height: 12rem;
  }

  .title {
    font-size: 2rem;
    text-shadow: 0.12rem 0px 0px var(--black);
  }
</style>