---
import Layout from '../layouts/Layout.astro'
import PhotoStack from '../components/PhotoStack.astro'
import MoonCorner from '../components/MoonCorner.astro'
---
<Layout>
  <main>
    <nav class="menu">
      <a href="/about">om</a>
      <a href="/posts">inlägg</a>
      <a href="/inspiration">inspiration</a>
    </nav>

    <PhotoStack variant="home" />

    <MoonCorner />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
