---
import { Picture } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Moon from '../components/Moon.svelte'
import { clickyMode } from '../config'
import tvBuilding from '../assets/images/tv-building.jpg'
import outsideBookshelf from '../assets/images/outside-bookshelf.jpg'
---
<Layout title="Home">
  <main>
    <nav class="menu">
      <a href="/about">om</a>
      <a href="/posts">inlägg</a>
      <a href="/inspiration">inspiration</a>
      <a>english</a>
    </nav>

    <div class="photos">
      <Picture
        class="photo photo-top"
        src={tvBuilding}
        formats={['avif', 'webp']}
        widths={[400, 800]}
        sizes="(max-width: 600px) 60vw, 28vw"
        alt=""
        loading="eager"
      />

      <Picture
        class="photo photo-bottom"
        src={outsideBookshelf}
        formats={['avif', 'webp']}
        widths={[500, 1000]}
        sizes="(max-width: 600px) 75vw, 34vw"
        alt=""
        loading="eager"
      />
    </div>

    <div class="stack">
      <div class="moon">
        <Moon clicky={clickyMode} client:load></Moon>
      </div>
      <div class="title">
        <a>albertahnfelt.com</a>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }

  .menu {
    position: fixed;
    top: 5rem;
    right: 30%;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1.6rem;
    line-height: 1.7;
  }

  .menu a {
    cursor: pointer;
  }

  .photos {
    position: fixed;
    top: 3vh;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .photo {
    display: block;
    width: auto;
    height: auto;
  }

  .photo-top {
    max-width: 22rem;
    max-height: 36vh;
  }

  .photo-bottom {
    max-width: 28rem;
    max-height: 49vh;
  }

  .stack {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .moon {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6rem;
    margin-bottom: 0.5rem;
    width: 12rem;
    height: 12rem;
  }

  .title {
    font-size: 2rem;
    text-shadow: 0.12rem 0px 0px var(--black);
  }

  @media (max-width: 768px) {
    .photos {
      top: 2rem;
      gap: 1.5rem;
    }

    .photo-top {
      max-width: 45vw;
      max-height: 30vh;
    }

    .photo-bottom {
      max-width: 52vw;
      max-height: 35vh;
    }

    .menu {
      top: 1.5rem;
      right: 1.5rem;
      font-size: 1.3rem;
    }

    .stack {
      bottom: 1rem;
      right: 1rem;
    }

    .moon {
      width: 8rem;
      height: 8rem;
      margin-left: -4rem;
    }

    .title {
      font-size: 1.4rem;
    }
  }
</style>
