---
import Layout from '../layouts/Layout.astro'
import Moon from '../components/Moon.svelte'
---
<Layout title="Home">
  <main>
    <div class="moon">
      <Moon client:load></Moon>
    </div>
    <div class="title">
      <a>albertahnfelt.com</a>
    </div>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moon  {
  width: 12rem;
  height: 12rem;
}

.title {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  text-shadow: 0.12rem 0px 0px var(--black);
}

</style>