---
import SidebarLayout from '../layouts/SidebarLayout.astro'
import { inspiration } from '../data/inspiration'
---
<SidebarLayout title="Inspiration">
  <nav class="menu">
    {inspiration.map((item) => (
      <a href={item.url} target="_blank" rel="noopener noreferrer">{item.label}</a>
    ))}
  </nav>
</SidebarLayout>
