---
import { getCollection } from 'astro:content'
import SidebarLayout from '../layouts/SidebarLayout.astro'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)
---
<SidebarLayout title="Inlägg">
  <nav class="menu">
    {posts.map((post) => (
      <a href={`/posts/${post.id}`}>{post.data.title}</a>
    ))}
  </nav>
</SidebarLayout>
